<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Rozzo | Login</title>
     <linkhref="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="main.css">

</head>

<body>

   <div class="header">
   <div style="display: flex; flex-direction: row;
  align-items: center;">
     
    
   <a  style="all: initial" href= "/index.html" > <img src="logo.svg" style="filter: invert(1); width: 20vw;"></img></a>

  <h1>
    Allergy Detection
  </h1>
  </div>
  
  <div></div>
    
  </div>

 <form class="sign-up-form ">


   <h1>Login!</h1>

           
            <input type = "text" id = "username" placeholder="Username">
         
            <input type = "password" id = "password" placeholder="Password">
         
            <button> Chow Down! </button>
    
    </form>


  

</body>


</html>