<html>
<head>
    <title>login</title>
    <link rel ="stylesheet" type = "text/css" href = "/style.css">
</head>
<body>

    <section class = "top-container">
        <h1>Login</h1>
    </section>

    <form class = "loginform" method = "POST" action= "/createAccount">
            <div class = "formgroup">
                <label>Username:</label> 
                <input type="text" name="username" placeholder="Enter username">
            </div>
            
            <div class = "formgroup">
                <label>Password:</label>
                <input type="password" name="password" placeholder="Enter password">        
            </div>
        

            <div class = "box-container-three">
                <div>
                <input class = "loginform btn" type = "submit" value="Login" name = "submit">
                </div> 
            </div>
    </form>
</body>
</html>