<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="main.css">

</head>

<body>
	<div class="header">
		<div style="display: flex; flex-direction: row;
  align-items: center;">
			<a style="all: initial" href="/index.html"> <img src="logo.svg" style="filter: invert(1); width: 20vw;"></img></a>
      <h1>
        Allergy Detection
      </h1>
    </div>
    <img src="avatar.png" style="filter: invert(1); width: 10vw;"></img>
  </div>
<div class="body">
      
        <h2>
         {{username}}'s Profile
        </h2>
      
     <form class="sign-up-form ">

           


            <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
                <textarea id="weakness" placeholder="What can't you eat"></textarea>
            </div>

            <div style="display: flex; flex-direction: row; align-items:center ">



                <select>
                    <option value="placeholder">Dairy</option>
                    <option value="placeholder">Hallal</option>
                    <option value="placeholder">Kosher</option>
                    <option value="placeholder">Nuts</option>
                    <option value="placeholder">Shellfish</option>
                    <option value="placeholder">Vegan</option>


                </select>

                <button type="button" style="font-size: 15px;">Add Preset</button>


            </div>

            <button  type="button">Save</button>


        </form>
        
        <!-- to do add red button -->
        <button class="red-btn" type="button">
             Delete Account
            </button>
      
  </div>
</body>

</html>