<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="main.css">


<script>

function presetAdd(){
var e = document.getElementById("presetDropdown");
var avoidanceTextArea = document.getElementById("weakness");

var strUser = e.options[e.selectedIndex].value;

  var alltext = avoidanceTextArea.value;
    

if(strUser == "Dairy"){
alltext += ", butter, buttermilk, casein, caseinates, cheese, cream, curds, diacetyl, ghee, lactalbumin, lactoferrin, lactose, milk, pudding, recaldent, rennet, sour cream, tagatose, whey, yogurt"
}
else if (strUser == "Nuts"){
  alltext += ", almond, brazel nut, cacao, cashew, chestnut, coconut, hazelnut, macadamia nut, peanut, pecan,pili nut, pine nut, pistachio, soy nut, walnut, tiger nut, baru nut"
}
else if (strUser == "Shellfish"){
  alltext += ", crab, crawfish, krill, lobster, prawns, shrimp, abalone, clams, cockle, cuttlefish, limpet, mussels, octopus, oysters, periwinkle, sea cucumber, sea urchin, scallops, snails, squid, whelk"
}

avoidanceTextArea.value = alltext;


}

</script>

</head>

<body>
	<div class="header">
		<div style="display: flex; flex-direction: row;
  align-items: center;">
			<a style="all: initial" href="/index"> <img src="logo.png" style="width: 20vw;"></img></a>
      <h1>
        Allergy Detection
      </h1>
    </div>
    <img src="avatar.png" style="width: 10vw;"></img>
  </div>
<div class="body">
      
        <h2>
          <%= req.session.username %>
        </h2>
      
     <form class="sign-up-form " method = "POST" action = "/update">
            <div style="display: flex; flex-direction: row; flex-wrap: nowrap;">
                <%var text = ""; %>
                    <%for(var i = 1; i<req.session.weakness.length; i++){ %>
                        <%text += req.session.weakness[i] + ", "; %>
                    <%} %>
                <textarea id="weakness"><%= text%></textarea>
            </div>

            <div style="display: flex; flex-direction: row; align-items:center ">
                <select id="presetDropdown">
                    <option value="Dairy">Dairy</option>
                    <option value="Nuts">Nuts</option>
                    <option value="Shellfish">Shellfish</option>
                </select>
                <button type="button" onclick = presetAdd() style="font-size: 15px;">Add Preset</button>
            </div>

            <button  type="submit">Save</button>
        </form>
        
        <!-- to do add red button -->
        <form method = "POST" action = "/delete">
            <button class="red-btn" type="submit">
              Delete Account
            </button>
        </form>

      
  </div>
</body>

</html>