<!DOCTYPE html>
<html>
 

<head>
     <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="main.css">

  </head>
  
<body>
  <div class="header">
   <div style="display: flex; flex-direction: row;
  align-items: center;">
 <a  style="all: initial" href= "/index" > <img src="logo.svg" style="filter: invert(1); width: 20vw;"></img></a>     <h1>
    Allergy Detection
     </h1>
</div>
<img src="avatar.png" style="filter: invert(1); width: 10vw;"></img>
</div>
    <form>
        <ul class = "flex-o">
         <li>
           <button type= "button">
             Upload
           </button>
         </li>
           <ul>
             <li>
               <span>Ingredient</span>
               <span><img src = "Warning.png"></span>
           </ul>
         <li>
           <textarea id = "weaknesses" placeholder="Weaknesses" readonly></textarea>
          </li>
         <li>
           <div>
           <textarea id = "detected" placeholder="Detected text" readonly></textarea>
           </div>
         </li>
         
        </ul>
    </form>
</body>
</html>